In [ ]:
import pandas as pd
import numpy as np

dtypes = np.dtype([
          ('a', np.datetime64),
          ('b', int),
          ('c', int),
          ('d', int),
          ])
# note: I am aware that it is not initialized with 10 rows,
# but I had an issue when using a list or tuple with rows
data = np.empty(0, dtype=dtypes)
df = pd.DataFrame(data)
df['a'] = pd.date_range('2018-01', periods=36, freq='MS')
df['b'] = np.random.randint(0, 9, 36)
df['c'] = np.random.randint(0, 9, 36)
df['d'] = df["b"] - df["c"]
df1 = df.iloc[0:12]
df2 = df.iloc[12:24]
df3 = df.iloc[24:]

            a  b  c  d
24 2020-01-01  3  7 -4
25 2020-02-01  4  4  0
26 2020-03-01  0  7 -7
27 2020-04-01  8  6  2
28 2020-05-01  1  2 -1
29 2020-06-01  6  4  2
30 2020-07-01  1  2 -1
31 2020-08-01  3  6 -3
32 2020-09-01  0  1 -1
33 2020-10-01  0  6 -6
34 2020-11-01  1  5 -4
35 2020-12-01  8  6  2

In [ ]:
import random 
import numpy as np
import keras 

#Generate some training data
x_train = []
y_train = []
for t_in_celcius in random.sample(range(-500, 500), 1000):
  x_train.append(t_in_celcius)
  y_train.append(t_in_celcius * 1.8 + 32)
X = np.array(x_train)
y = np.array(y_train)

#Fit model to data 
model = Sequential()
model.add(Dense(1, init='uniform', input_shape=(1,)))
 
model.compile(optimizer=keras.optimizers.Adam(learning_rate=0.05), loss='mse')
model.fit(X, y, batch_size=1, nb_epoch=20, verbose=1, validation_split=0.2)

# Check if model is good
print(model.get_weights())
print(model.predict(np.array([100]), batch_size=1))

(1000,)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, input_shape=(1,), kernel_initializer="uniform")`
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Train on 800 samples, validate on 200 samples
Epoch 1/20
800/800 [==============================] - 1s 914us/step - loss: 7034.5571 - val_loss: 515.2545
Epoch 2/20
800/800 [==============================] - 1s 862us/step - loss: 300.9749 - val_loss: 145.0537
Epoch 3/20
800/800 [==============================] - 1s 863us/step - loss: 51.7577 - val_loss: 10.0305
Epoch 4/20
800/800 [==============================] - 1s 838us/step - loss: 3.3999 - val_loss: 0.2761
Epoch 5/20
800/800 [==============================] - 1s 848us/step - loss: 0.0727 - val_loss: 6.1766e-04
Epoch 6/20
800/800 [==============================] - 1s 854us/step - loss: 1.3888e-04 - val_loss: 4.1262e-08
Epoch 7/20
800/800 [==============================] - 1s 826us/step - loss: 2.8395e-08 - val_loss: 1.3076e-09
Epoch 8/20
800/800 [==============================] - 1s 826us/step - loss: 3.4588e-08 - val_loss: 7.2247e-08
Epoch 9/20
800/800 [==============================] - 1s 857us/step - loss: 1.7115e-04 - val_loss: 8.0195e-04
Epoch 10/20
800/800 [==============================] - 1s 846us/step - loss: 10.4664 - val_loss: 0.0066
Epoch 11/20
800/800 [==============================] - 1s 844us/step - loss: 3.8877 - val_loss: 0.0049
Epoch 12/20
800/800 [==============================] - 1s 856us/step - loss: 46.8157 - val_loss: 1.3615e-04
Epoch 13/20
800/800 [==============================] - 1s 859us/step - loss: 3.1317e-05 - val_loss: 7.6390e-09
Epoch 14/20
800/800 [==============================] - 1s 852us/step - loss: 0.0148 - val_loss: 2.4655
Epoch 15/20
800/800 [==============================] - 1s 863us/step - loss: 42.6655 - val_loss: 1.3263e-04
Epoch 16/20
800/800 [==============================] - 1s 867us/step - loss: 6.2248e-06 - val_loss: 9.1046e-10
Epoch 17/20
800/800 [==============================] - 1s 859us/step - loss: 5.0990 - val_loss: 6.8062
Epoch 18/20
800/800 [==============================] - 1s 853us/step - loss: 52.0385 - val_loss: 0.1578
Epoch 19/20
800/800 [==============================] - 1s 861us/step - loss: 0.0044 - val_loss: 1.4643e-04
Epoch 20/20
800/800 [==============================] - 1s 862us/step - loss: 0.0167 - val_loss: 0.3297
[array([[1.8019297]], dtype=float32), array([32.0222], dtype=float32)]
[[212.21518]]